<h1 class="text-center"></h1>


<div class="background-image"></div>
<div class="content text-center">
  <h1 class="page-header"><%= t :welcome %>!</h1>
  <h3 class="btn btn-primary" style="color: #fff"><%= t :hello %>!</h3>
</div>