<h1 class="text-center"></h1>
<div class="background-image"></div>
<div class="content text-center">
  <h1 class="page-header"><%= t :hello_world %>!</h1>
  <button id="button" class="text-center btn btn-large"><%= t :demo %></button>
</div>
